.ItemStatusFilter
    height: auto

.filterBtn
    height: 100%
    &.active
        background: skyblue
    &:first-child
        border-radius: 5px 0 0 5px

    &:nth-child(2)
        margin: 0 -1px

    &:last-child
        border-radius: 0 5px 5px 0
